header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid var(--main-text);
  color: #fff;

  label {
    display: inline-block;
    font-size: 1.4rem;
  }

  .head-icons {
    display: flex;
    align-items: center;

    i {
      margin-right: 2.5rem;
      display: inline-block;
      font-size: 1.2rem;
    }

    .head-avatar {
      display: flex;
      align-items: center;
      border-radius: 20px;
      background: #6307e2;
      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      span {
        margin-right: 0;
        padding: 0rem 0.5rem;
        font-size: 0.85rem;
        font-weight: 600;
      }
    }
  }
}
