@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --color-main: #6E00FF;
    --color-secondary: #FFB100;
    --bg-body: #F8F8FB;
    --main-accent: #6307E2;
    --main-text: #8492A6;
    --success: #28A745;
    --danger: #DC3545;
    --shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

* {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--main-text);
    background: var(--bg-body);
}

#menu-toggle {
    display: none;
}

.page-wrapper {
    width: 93%;
    margin: auto;
    display: flex;
}
.page-wrapper::before {
    content: "";
    width: 100%;
    height: 430px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-main);
    z-index: -1;
    border-radius: 0 0 0 100px;
}

.sidebar {
    width: 250px;
    margin-left: 40px;
}

.brand {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.brand h3 {
    font-size: 1.8rem;
    color: #FFF;
}

.profile-card {
    text-align: center;
    margin: 1rem 0;
}

.profile-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1.8rem;
    margin-bottom: 1.3rem;
}

.profile-info {
    color: #FFF;
}

.profile-info h2 {
    margin-bottom: .3rem;
}

.profile-info small {
    font-size: 1rem;
    color: #EFEFEF;
}

.profile-action {
    margin: 1.7rem;
}

.btn {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: .6rem 2rem;
    display: flex;
    align-items: center;
}

.btn-white {
    background:  #FFF;
}

.btn i {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .6rem;
}

.profile-icons {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-bottom: 3.8rem;
}

.profile-icons i {
    display: inline-block;
    color: #FFF;
    font-size: 1.65rem;
}

.sidebar-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8rem;
}

.menu-item a {
    display:  block;
    width: 100%;
    padding: 1rem 0;
    border-radius: 10px;
}

.menu-item a i, .menu-item a span {
    display: block;
    text-align: center;
    color: var(--main-text);
    font-size: 1.1rem;
}

.menu-item a i:first-child, .menu-item a span:first-child {
    font-size: 2rem;
    margin-bottom: .4rem;
}

.menu-item a.active {
    background: var(--color-main);
}

.menu-item a.active i, .menu-item a.active span {
    color: #FFF;
}

.sidebar-card {
    padding: 1rem;
    border-radius: 10px;
    background: var(--color-secondary);
    margin: 2rem 0;
    color: #FFF;
}

.sidebar-card h3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.sidebar-card p {
    line-height: 1.9rem;
    margin-bottom: 1rem;
    font-size: .9rem;
    text-align: justify ;
}

.sidebar-card a {
    text-align: center;
    font-weight: 600;
    color: var(--main-text);
    display: block;
    font-size: 1.1rem;
}

.main-content {
    padding: 0 40px;
    flex: 1;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid var(--main-text);
    color: #FFF;
}

header label {
    display: inline-block;
    font-size: 1.4rem;
}

.head-icons {
    display: flex;
    align-items: center;
}

.head-icons i {
    margin-right: 2.5rem;
    display: inline-block;
    font-size: 1.2rem;
}

.head-avatar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #6307E2;
}

.head-avatar .avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.head-avatar span {
    margin-right: 0;
    padding: 0rem .5rem;
    font-size: .85rem;
    font-weight: 600;
}

.page-header {
    color: #fff;
    margin: 1rem 0;
}

.analytics {
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 2rem;
    margin-top: 2rem;
}

.card {
    background: #FFF;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 1rem;
}

.card-head {
    font-size: 1.1rem;
    color: #555;
    font-weight: 600;
}































