<div class="card team-progress">
  <div class="card-head">
      <div class="team-head">
          <div>
              <h3>Team progress</h3>
              <small>890, 344 sales</small>
          </div>
          <select name="" id="">
              <option value="">User</option>
          </select>
      </div>
  </div>
  <div class="card-body">
      <table>
          <thead>
              <tr>
                  <th>Author</th>
                  <th>Company</th>
                  <th width="22%">Progress</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>
                      <div class="team-info">
                          <div class="team-img">
                              <img src="./../assets/img/1.jpg" alt="">
                          </div>
                          <div class="team-details">
                              <h4>Brad Simmons</h4>
                              <small>HTML, JS, React JS</small>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="company-info">
                          <h4>Interco</h4>
                          <small>Web UI/UX Design</small>
                      </div>
                  </td>
                  <td>
                      <div class="team-progress">
                          <h4>65%</h4>
                          <div class="progress-bar">
                              <div class="indicator danger" style="width: 65%;"></div>
                          </div>
                      </div>
                  </td>
                  <td>
                      <a href="" class="btn btn-main">View</a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="team-info">
                          <div class="team-img">
                              <img src="./../assets/img/12.jpg" alt="">
                          </div>
                          <div class="team-details">
                              <h4>Jessie Clarson</h4>
                              <small>HTML, JS, React JS</small>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="company-info">
                          <h4>Agoda</h4>
                          <small>Houses & Hotels</small>
                      </div>
                  </td>
                  <td>
                      <div class="team-progress">
                          <h4>85%</h4>
                          <div class="progress-bar">
                              <div class="indicator success" style="width: 85%;"></div>
                          </div>
                      </div>
                  </td>
                  <td>
                      <a href="" class="btn btn-main">View</a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="team-info">
                          <div class="team-img">
                              <img src="./../assets/img/13.jpg" alt="">
                          </div>
                          <div class="team-details">
                              <h4>Julia Simmons</h4>
                              <small>HTML, JS, React JS</small>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="company-info">
                          <h4>Techadam</h4>
                          <small>C#, JavaScript</small>
                      </div>
                  </td>
                  <td>
                      <div class="team-progress">
                          <h4>45%</h4>
                          <div class="progress-bar">
                              <div class="indicator info" style="width: 45%;"></div>
                          </div>
                      </div>
                  </td>
                  <td>
                      <a href="" class="btn btn-main">View</a>
                  </td>
              </tr>
              <tr>
                  <td>
                      <div class="team-info">
                          <div class="team-img">
                              <img src="./../assets/img/14.jpg" alt="">
                          </div>
                          <div class="team-details">
                              <h4>Julia Simmons</h4>
                              <small>HTML, JS, React JS</small>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="company-info">
                          <h4>Interco</h4>
                          <small>Web UI/UX Design</small>
                      </div>
                  </td>
                  <td>
                      <div class="team-progress">
                          <h4>35%</h4>
                          <div class="progress-bar">
                              <div class="indicator warning" style="width: 35%;"></div>
                          </div>
                      </div>
                  </td>
                  <td>
                      <a href="" class="btn btn-main">View</a>
                  </td>
              </tr>

          </tbody>
      </table>
  </div>
</div>
