<div class="card competitors">
  <div class="card-head">
      <div class="team-head">
          <div>
              <h4>My Competitors</h4>
              <small>More then 400+ new members</small>
          </div>
      </div>
  </div>
  <div class="card-body">
      <div class="compete-info">
          <div>
              <img src="./../assets/img/7.webp" alt="">
              <div class="compete-details">
                  <h4>Cup & Green</h4>
                  <small>Study highway types</small>
                  <p>By: <a href="">Code resource</a></p>
              </div>
          </div>
          <div class="compete-sales">
              <h3>24,900</h3>
              <span>Sales</span>
          </div>
      </div>
      <div class="compete-info">
          <div>
              <img src="./../assets/img/8.jpeg" alt="">
              <div class="compete-details">
                  <h4>Cup & Green</h4>
                  <small>Study highway types</small>
                  <p>By: <a href="">Code resource</a></p>
              </div>
          </div>
          <div class="compete-sales">
              <h3>24,900</h3>
              <span>Sales</span>
          </div>
      </div>
      <div class="compete-info">
          <div>
              <img src="./../assets/img/9.jpeg" alt="">
              <div class="compete-details">
                  <h4>Cup & Green</h4>
                  <small>Study highway types</small>
                  <p>By: <a href="">Code resource</a></p>
              </div>
          </div>
          <div class="compete-sales">
              <h3>24,900</h3>
              <span>Sales</span>
          </div>
      </div>
      <div class="compete-info">
          <div>
              <img src="./../assets/img/10.jpeg" alt="">
              <div class="compete-details">
                  <h4>Cup & Green</h4>
                  <small>Study highway types</small>
                  <p>By: <a href="">Code resource</a></p>
              </div>
          </div>
          <div class="compete-sales">
              <h3>24,900</h3>
              <span>Sales</span>
          </div>
      </div>
  </div>
</div>
