.sidebar {
  width: 250px;
  margin-left: 40px;

  .brand {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    h3 {
      font-size: 1.8rem;
      color: #fff;
    }
  }

  .profile-card {
    text-align: center;
    margin: 1rem 0;

    .profile-img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      margin: auto;
      background-size: cover;
      background-repeat: no-repeat;
      margin-top: 1.8rem;
      margin-bottom: 1.3rem;
    }

    .profile-info {
      color: #fff;
      h2 {
        margin-bottom: 0.3rem;
      }
      small {
        font-size: 1rem;
        color: #efefef;
      }
    }
    .profile-action {
      margin: 1.7rem;
    }
    .profile-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3.8rem;
    }

    .profile-icons i {
      display: inline-block;
      color: #fff;
      font-size: 1.65rem;
    }
  }

  .sidebar-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8rem;

    .menu-item {
      a {
        display: block;
        width: 100%;
        padding: 1rem 0;
        border-radius: 10px;
        &.active {
          background: var(--color-main);
          i,
          span {
            color: #fff;
          }
        }
        i,
        span {
          display: block;
          text-align: center;
          color: var(--main-text);
          font-size: 1.1rem;
          &:first-child {
            font-size: 2rem;
            margin-bottom: 0.4rem;
          }
        }
      }
    }
  }
  .sidebar-card {
    padding: 1rem;
    border-radius: 10px;
    background: var(--color-secondary);
    margin: 2rem 0;
    color: #fff;
    h3 {
      margin-bottom: 1rem;
      font-size: 1.4rem;
    }
    p {
      line-height: 1.9rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      text-align: justify;
    }
    a {
      text-align: center;
      font-weight: 600;
      color: var(--main-text);
      display: block;
      font-size: 1.1rem;
    }
  }
}
